<div class="card my-5">
  <div class="card-body">
    Liste des types de diplome possibles
    <li class="text-center list-inline py-3">
      <ul class="list-inline-item" *ngFor="let diplome of diplomes | keyvalue">
        <li>
          <button class="btn btn-primary" (click)="onDiplomeSelected(diplome.key)" > {{ diplome.value }} </button>
        </li>
      </ul>
    </li>
  </div>
</div>
