<div class="card my-5">
  <div class="card-body">
    Liste des composantes possibles
    <li class="text-center list-inline py-3">
      <ul class="list-inline-item" *ngFor="let composante of composantes | keyvalue">
        <li>
          <button class="btn btn-primary" (click)="onComposanteSelected(composante.key)" > {{ composante.value }} </button>
        </li>
      </ul>
    </li>
  </div>
</div>
