#header {
  padding: 1.5rem 0;
  background: url('../assets/img/background-header.jpg') no-repeat;
  background-size: cover;
}

#header-title a {
  font-size: 1.7rem;
  color: #616161;
  text-transform: uppercase;
  text-decoration: none;
}
