<div id="header">
  <div class="d-flex justify-content-around align-items-center">
    <img src="../assets/img/logo.png" alt="">
    <h1 id="header-title">Atelier des métiers</h1>
  </div>
</div>
<div>
  <button class="btn-info" *ngIf="this.route.snapshot.queryParams['SECT'] != undefined" (click)="refreshPage('SECT')">Secteur : {{this.route.snapshot.queryParams['SECT']}}</button>
  <button class="btn-info" *ngIf="this.route.snapshot.queryParams['SS'] != undefined" (click)="refreshPage('SS')">Sous-Secteur : {{this.route.snapshot.queryParams['SS']}}</button>
  <button class="btn-info" *ngIf="this.route.snapshot.queryParams['codeMetier'] != undefined" (click)="refreshPage('codeMetier')">Métier : {{this.route.snapshot.queryParams['codeMetier']}}</button>

  <button class="btn-info" *ngIf="this.route.snapshot.queryParams['COM'] != undefined" (click)="refreshPage('COM')">Composante : {{this.route.snapshot.queryParams['COM']}}</button>
  <button class="btn-info" *ngIf="this.route.snapshot.queryParams['DOM'] != undefined" (click)="refreshPage('DOM')">Domaine : {{this.route.snapshot.queryParams['DOM']}}</button>
  <button class="btn-info" *ngIf="this.route.snapshot.queryParams['DESC'] != undefined" (click)="refreshPage('DESC')">Régime : {{this.route.snapshot.queryParams['DESC']}}</button>
  <button class="btn-info" *ngIf="this.route.snapshot.queryParams['DIP'] != undefined" (click)="refreshPage('DIP')">Type diplome{{this.route.snapshot.queryParams['DIP']}}</button>
</div>

<div>
<button class="btn btn-primary" (click)="onCrittClick()"> Affinez votre recherche </button>
</div>
<div class="container">
  <!-- C'est grâce à cette balise qu'on défnit l'emplacement du component pointé par navigate-->
  <router-outlet></router-outlet>
</div>

