<div>
  <button class="btn-info" *ngIf="this.route.snapshot.queryParams['SECT'] != undefined" (click)="refreshPage('SECT')">Secteur : {{this.sectName}}</button>
  <button class="btn-info" *ngIf="this.route.snapshot.queryParams['SS'] != undefined" (click)="refreshPage('SS')">Sous-Secteur : {{this.route.snapshot.queryParams['SS']}}</button>
  <button class="btn-info" *ngIf="this.route.snapshot.queryParams['codeMetier'] != undefined" (click)="refreshPage('codeMetier')">Métier : {{this.route.snapshot.queryParams['codeMetier']}}</button>

  <button class="btn-info" *ngIf="this.route.snapshot.queryParams['COM'] != undefined" (click)="refreshPage('COM')">Composante : {{this.route.snapshot.queryParams['COM']}}</button>
  <button class="btn-info" *ngIf="this.route.snapshot.queryParams['DOM'] != undefined" (click)="refreshPage('DOM')">Domaine : {{this.route.snapshot.queryParams['DOM']}}</button>
  <button class="btn-info" *ngIf="this.route.snapshot.queryParams['DESC'] != undefined" (click)="refreshPage('DESC')">Régime : {{this.route.snapshot.queryParams['DESC']}}</button>
  <button class="btn-info" *ngIf="this.route.snapshot.queryParams['DIP'] != undefined" (click)="refreshPage('DIP')">Type diplome{{this.route.snapshot.queryParams['DIP']}}</button>
</div>
