<div class="card my-5">
  <div class="card-body">
    <li class="text-center list-inline py-3">
      <ul class="list-inline-item" *ngFor="let metier of metiers">
        <li>
          <button class="btn btn-primary" routerLink=""
                  (click)="onMetierClick(metier.code)"> {{ metier.nom }}
          </button>
        </li>
      </ul>
    </li>
  </div>
</div>


