<div class="card my-5">
  <div class="card-body">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let secteur of secteurs">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{secteur.nom}}
          </mat-panel-title>
          <mat-panel-description>
            {{secteur.description | slice:0:60}}...
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <li *ngFor="let sousSecteur of secteur.sousSecteurs  | keyvalue">
            <button class="btn btn-primary" (click)="onSousSecteurClick(sousSecteur.key,secteur.code)"> {{ sousSecteur.value }} </button>
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>

