<div class="card my-5">
  <div class="card-body">
    Liste des descriptions de régime possibles
    <li class="text-center list-inline py-3">
      <ul class="list-inline-item" *ngFor="let descRegime of descRegimes | keyvalue">
        <li>
          <button class="btn btn-primary" (click)="onDescRegimeSelected(descRegime.key)" > {{ descRegime.value }} </button>
        </li>
      </ul>
    </li>
  </div>
</div>
