<div class="card my-5">
  <div class="card-body">
    <li class="text-center list-inline py-3">
      <ul class="list-inline-item" *ngFor="let formation of formations">
        <li>
          <button class="btn btn-primary" (click)="onClickFormation(formation.code)"> {{ formation.nom }} </button>
        </li>
      </ul>
    </li>
  </div>
</div>
