  <div class="form-group">
    <label>
      Type de diplôme
    </label>
    <div>
      <button class="btn btn-primary" (click)="onCritereClick('/diplome')"
      > Type de diplôme
      </button>
    </div>
  </div>

  <div class="form-group">
    <label>
      Domaine de formation
    </label>
    <div>
      <button class="btn btn-primary" (click)="onCritereClick('/domaine')"
      > Domaine de formation
      </button>
    </div>
  </div>

  <div class="form-group">
    <label>
      Modalités d'enseignement
    </label>
    <div>
      <button class="btn btn-primary" (click)="onCritereClick('/descRegime')"
      > Modalités d'enseignement
      </button>
    </div>
  </div>

  <div class="form-group">
    <label>
      Organisme de formation
    </label>
    <div>
      <button class="btn btn-primary" (click)="onCritereClick('/composante')"
      > Organisme de formation
      </button>
    </div>
  </div>

