<div class="card my-5">
  <div class="card-body">
    Liste des domaines possibles
    <li class="text-center list-inline py-3">
      <ul class="list-inline-item" *ngFor="let domaine of domaines | keyvalue">
        <li>
          <button class="btn btn-primary" (click)="onDomaineSelected(domaine.key)" > {{ domaine.value }} </button>
        </li>
      </ul>
    </li>
  </div>
</div>
